#qq{
    color: aquamarine;
}
#ww{
    color: aliceblue;
}
#ee
{
    color: aqua;
}
#rr
{
    color: azure;
}
#tt
{
    color: beige;
}
#yy
{
    color: blanchedalmond;
}
#uu
{
    color: blanchedalmond;
}
#ii
{
    color: blueviolet;
}